@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: local("Roboto"),
    url("/assets/fonts/Roboto/Roboto-Bold.ttf") format("tff");
}

/**
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
    url("../public/assets/fonts/Roboto/Roboto-Regular.ttf") format("tff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
    url("../public/assets/fonts/Roboto/Roboto-Medium.ttf") format("tff");
}
**/
